<!DOCTYPE html>
<html lang="en">
<head>
    {% include '/comm/adheader.html' %}
</head>
<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
    {% include '/comm/sidebar.html' %}
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            {% include '/comm/adtopbar.html' %}
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- Page Heading -->
                <h1 class="h3 mb-4 text-gray-800">관리자의 클럽 회원 리스트</h1>
                <div class="container">
                    <div class="row" id="card-container">
                        <!-- JavaScript로 카드가 동적으로 추가될 영역 -->
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->

        <!-- End of Main Content -->
        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; SOFTCORE 2025</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
<!-- Bootstrap core JavaScript-->
{% include '/comm/adscript.html' %}
</body>
</html>
<script>
    const cardContainer = document.getElementById("card-container");
// 인원수만큼 카드를 생성
for (let i = 1; i <= 17; i++) {
    // 카드 HTML 구조
    const cardHTML = `
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-4">
            <div class="card shadow">
                <a href = "/member/${i}">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">회원명 ${i}</h6>
                </div>
                <div class="card-body">
                    회원정보 : 직책 ${i} <br>
                    회원정보 : 연락처 ${i} <br>
                    회원정보 : 이메일 ${i} <br>
                </div>
                </a>
            </div>
        </div>
    `;
    // 카드를 컨테이너에 추가
    cardContainer.innerHTML += cardHTML;
}
</script>