<!DOCTYPE html>
<html lang="en">
<head>
    {% include '/comm/adheader.html' %}
</head>
<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
    {% include '/comm/sidebar.html' %}
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            {% include '/comm/adtopbar.html' %}
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- Page Heading -->
                <h1 class="h3 mb-4 text-gray-800">{{clubName}} 회원 리스트</h1>
                <div class="container">
                    <div>
                    <div style="float:right"></div>
                    <table class="table" id="rmemberlist">
                        <thead style="text-align: center">
                        <th>회원번호</th>
                        <th>회원사진</th>
                        <th>회원성명</th>
                        <th>소속클럽</th>
                        <th>직책</th>
                        </thead>
                        <tbody>
                        {% for member in rmember %}
                            <tr style="text-align: center; vertical-align: middle;">
                                <td style="text-align: center; vertical-align: middle;"><a href="/memberdetail/{{ member[0]}}">{{ member[0] }}</a></td>
                                <td style="text-align: center; vertical-align: middle;"><img src="/static/img/members/{{member[0]}}.png" onerror="this.src='/static/img/members/default.png'" alt="Member Image"></td>
                                <td style="text-align: center; vertical-align: middle;"><a href="/memberdetail/{{ member[0]}}">{{ member[1] }}</a></td>
                                <td style="text-align: center; vertical-align: middle;">{{ member[18] }}</td>
                                <td style="text-align: center; vertical-align: middle;">{{ member[19] }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->

        <!-- End of Main Content -->
        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; SOFTCORE 2025</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
<!-- Bootstrap core JavaScript-->
{% include '/comm/adscript.html' %}
{% include '/comm/adscripttable.html' %}
</body>
</html>
<script>
    $(document).ready(function () {
        $('#rmemberlist').DataTable({
            "pageLength": 10
        });
    });
</script>
