<!DOCTYPE html>
<html lang="en">
<head>
    {% include '/comm/adheader.html' %}
</head>
<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
    {% include '/comm/sidebar.html' %}
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            {% include '/comm/adtopbar.html' %}
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- Page Heading -->
                <h4 class="h3 mb-4 text-gray-800">지역 정보 관리</h4>
                <div>
                    <div style="float:right"></div>
                    <table class="table" id="dictlist">
                        <thead style="text-align: center">
                        <th>지역명</th>
                        <th>위원장</th>
                        <th>소속클럽</th>
                        <th>활동연도</th>
                        <th>주요지침</th>
                        </thead>
                        {% for region in region_list %}
                            <tr style="text-align: center">
                                <td><a href="/editregion/{{ region[1] }}">{{ region[1] }} 지역</a></td>
                                <td>{{ region[10] }}</td>
                                <td>{{ region[9] }}</td>
                                <td>{{ region[4] }}-{{ region[5] }}</td>
                                <td>{{ region[3] }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->
        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; SOFTCORE 2025</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
<!-- Bootstrap core JavaScript-->
{% include '/comm/adscript.html' %}
</body>
</html>
