<!DOCTYPE html>
<html lang="en">
<head>
    {% include '/comm/adheader.html' %}
</head>
<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
    {% include '/comm/sidebar.html' %}
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            {% include '/comm/adtopbar.html' %}
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- Page Heading -->
                <h1 class="h3 mb-4 text-gray-800">클럽별 게시판 리스트</h1>
                <div>
                    <div style="float:right"></div>
                    <table class="table" id="clublist">
                        <thead style="text-align: center">
                        <th>클럽번호</th>
                        <th>클럽명</th>
                        <th>게시판 제목</th>
                        <th>게시판 추가</th>
                        </thead>
                        {% for club in clublist %}
                            <tr style="text-align: center">
                                <td>{{ club[1] }}</td>
                                <td><a href="/boardList/{{club[1]}}/{{club[0]}}">{{ club[0] }}</a></td>
                                <td>{{ club[2] }}</td>
                                <td><a href="/addboard/{{club[1]}}" class="btn btn-primary" id="btnaddboard" role="button" style="flex: 0 0 30%;">보드 추가</a></td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->
        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; SOFTCORE 2025</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
<!-- Bootstrap core JavaScript-->
{% include '/comm/adscript.html' %}
{% include '/comm/adscripttable.html' %}
</body>
<script>
    $(document).ready(function () {
        $('#clublist').DataTable({
            "pageLength": 25,
            order: [[0, "asc"]]
        });
    });
</script>
</html>
